<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="./public/js/app.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            {{message}}
        </div>
        {{>footer}}
    </body>
</html>

